<!-- The modal -->
<div class="modal fade" id="saveDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelClick()"> <span aria-hidden="true">×</span> </button>
        <h4 class="modal-title" id="modalLabel">Save Todo list</h4> </div>
      <div *ngIf="todoListName !== ''" class="modal-body"> Override Todo list {{todoListName}}? </div>
      <div *ngIf="todoListName === ''" class="modal-body">
        <input type="text" id="todoListName" class="form-control" placeholder="Todo list name" required autofocus [(ngModel)]="model.todoListName" name="todoListName"> </div>
      <div class="modal-footer">
        <button md-raised-button data-dismiss="modal" (click)="cancelClick()">Cancel</button>
        <button md-raised-button color="primary" data-dismiss="modal" (click)="okClick()">OK</button>
      </div>
    </div>
  </div>
</div>