@import '~@angular/material/core/theming/_all-theme.scss';

/* NOTE: Theming is currently experimental and not yet publically released! */

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}


body {
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

.container-h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.container-v-center {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.container-hv-center {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  font-size: 25px;
  padding: 10px;
  min-width: 100px;
  width: 20%;
  display: block;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-card-title {
  font-size: 30px;
}

.todo-input {
  font-size: 25px;
  padding-bottom: 20px;
}

.todo-list {
  font-size: 25px
}

.todo-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgb(250,250,245);
}

.todo-item-checkbox {
  padding-right: 10px;
  width: 10%;
  float: left;
}

.todo-item-text {
  padding-left: 10px;
  width: 80%;
  float: left;
}

.todo-item-button {
  padding-left: 10px;
  width: 10%;
  float: left;
}

.todos-save {
  padding-top: 20px;
  float: right;
}

.todos-name {
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
}

.todos-full-width {
  width: 100%;
}

